node_modules
cypress/screenshots/All Specs/my-image (1).png
cypress/screenshots/All Specs/my-image (2).png
cypress/screenshots/All Specs/my-image.png
cypress/screenshots/cypressbasic.spec.js/MSite -- Acessei o site e pesquisar uma tarifa para 1 ADT (failed).png
cypress/screenshots/examples/cypress_api.spec.js/Cypress.config() -- Get and set configuration options (failed).png
cypress/screenshots/examples/misc.spec.js/my-image.png
cypress/videos/arrow.spec.js.mp4
cypress/videos/cypressbasic.spec.js.mp4
cypress/videos/describe.spec.js.mp4
cypress/videos/examples/actions.spec.js.mp4
cypress/videos/examples/aliasing.spec.js.mp4
cypress/videos/examples/assertions.spec.js.mp4
cypress/videos/examples/connectors.spec.js.mp4
cypress/videos/examples/cookies.spec.js.mp4
cypress/videos/examples/cypress_api.spec.js.mp4
cypress/videos/examples/files.spec.js.mp4
cypress/videos/examples/local_storage.spec.js.mp4
cypress/videos/examples/location.spec.js.mp4
cypress/videos/examples/misc.spec.js.mp4
cypress/videos/examples/navigation.spec.js.mp4
cypress/videos/examples/network_requests.spec.js.mp4
cypress/videos/examples/querying.spec.js.mp4
cypress/videos/examples/spies_stubs_clocks.spec.js.mp4
cypress/videos/examples/traversal.spec.js.mp4
cypress/videos/examples/utilities.spec.js.mp4
cypress/videos/examples/viewport.spec.js.mp4
cypress/videos/examples/waiting.spec.js.mp4
cypress/videos/examples/window.spec.js.mp4
cypress/screenshots/All Specs/my-image (1).png
cypress/screenshots/All Specs/my-image (2).png
cypress/screenshots/All Specs/my-image.png
